<%- include('../partials/header') %>

<h2>Search for Recipes</h2>
<form id="search-form" method="POST" action="/recipes/search">
  <label>Ingredients</label>
  <select id="dropdown">
    <% ingredients.forEach(function(i) { %>
      <option value="<%= i._id %>"><%= i.name %></option>
    <% }) %>
  </select>
  <label>Filter</label>
  <textarea name="ingredients" id="textField"></textarea>
  <input type="submit" value="Search">
</form>

<p><%- errorMsg %></p>

<script>
  // Get references to the dropdown and text field elements
  let dropdown = document.getElementById('dropdown');
  let textField = document.getElementById('textField');

  // Add an event listener to the dropdown for the change event
  dropdown.addEventListener('change', function() {
    // Get the selected option value
    let selectedOption = dropdown.options[dropdown.selectedIndex].text;

    // Set the selected option value in the text field
    textField.value += selectedOption + ", ";
  });
</script>

<%- include('../partials/footer') %>