<%- include('../partials/header') %>

<h2>New Recipe</h2>
<form id="new-form" action="/recipes" method="POST">
  <label>Recipe Name</label>
  <input type="text" name="name">
  <label>Dish Type</label>
  <input type="text" name="dishType">
  <label>Cuisine</label>
  <input type="text" name="cuisine">
  <label>Health Type</label>
  <input type="text" name="healthType">
  <label>Diet Type</label>
  <input type="text" name="dietType">
  <label>Ingredients</label>
  <select name="ingredients" id="ingredientDropdown">
    <option disabled selected>Add Ingredient</option>
    <% ingredients.forEach(function(i) { %>
      <option value="<%= i.name %>"><%= i.name %></option>
    <%  }) %>
  </select>
  <label>OR</label>
  <textarea name="ingredients" placeholder="(separate ingredients by commas)" id="ingredientText"></textarea>
  <label>Method</label>
  <textarea name="method"></textarea>
  <input type="submit" value="Add Recipe">
</form>

<p><%- errorMsg %></p>

<script>
  // Get references to the dropdown and text field elements
  let dropdown = document.getElementById('ingredientDropdown');
  let textField = document.getElementById('ingredientText');

  // Add an event listener to the dropdown for the change event
  dropdown.addEventListener('change', function() {
    // Get the selected option value
    let selectedOption = dropdown.value;

    // Set the selected option value in the text field
    textField.value += selectedOption + ", ";
  });
</script>

<%- include('../partials/footer') %>