<%- include('../partials/header') %>

<section id="show-page">
  <div>Name: </div>
  <div><%= recipe.name %> <small>posted on <%= recipe.posted.toLocaleDateString() %></small></div>
  <div>Dish Type: </div>
  <div><%= recipe.dishType %></div>
  <div>Cuisine: </div>
  <div><%= recipe.cuisine %></div>
  <div>Ingredients:</div>
  <ul>
    <%- recipe.ingredients.map(i => 
      `<li>${i.name}</li>`
    ).join('') %>
  </ul>
  <div>Method: </div>
  <div><%= recipe.method %></div>
</section>

<%- include('../partials/footer') %>